@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");
@import url("../doc/editor.css");
@import url("./normalize.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans SC", sans-serif, monaco, Consolas, "Lucida Console", monospace;
  font-weight: 100;
}

code {
  font-family: monaco, Consolas, Lucida Console, monospace;
}
