body {
  @apply bg-neutral-900;
  font-family: "Noto Sans SC", sans-serif, monaco, Consolas, "Lucida Console", monospace;
  font-weight: 100;
}

code {
  font-family: monaco, Consolas, Lucida Console, monospace;
}
